@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}
header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 70%;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	padding: 10px;
	text-decoration: none;
}
nav a:hover{
	color: red;
}
.produtos{
	width: 940px;
	margin: 0 auto;
}
.produtos li{
	border: 2px solid black;
	border-radius: 20px;
	border-style: inset;
	margin: 20px 1.1%;
	text-align: center;
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding: 50px 0;
}
.produtos li:hover{
	border-color: red;
	
}
.produtos li:hover h2{
	font-size: 32px;
	color: red;
	
}
.produtos h2{
	font-size: 30px;
	font-weight: bold;
}
.preco{
	font-size: 22px;
	font-weight: bold;
}
footer{
	color: white;
	text-align: center;
	background-color: #BBBBBB;
}
#banner{
	width: 100%;
}
.principal{
	padding: 20px;
	font-size: 20px;
	text-align: justify;
}
.principal h2{
	width: 300px;
	font-weight: bold;
	padding: 30px 0;
}
.main_principal{
	margin: 10px 10%;
	display: flex;
	height: 400px;
	align-items: center;
}
.main_principal img{
	height: 150px;
	border-radius: 10px;
}
.main_principal img:hover{
	border: 1px solid red;
}
@media only screen and (max-width: 932px){
	header img{
		display: none;
		margin: 0;
	}
	.caixa{
		width: auto;
		margin: 0 auto;
	}
	header nav{
		position:initial;
		margin: 0 auto;
		
	}
	header nav a{
		font-size: 15px;
	}
	.main_principal{
		display: block;
		height: 500px;
	}
	.main_principal img{
		display: none;
	
		margin: 0;
	}
	.produtos li{
		display: block;
		width: 250px;
		margin: 20px auto;
	}

	.produtos{
		
		width: 270PX;
		margin: 0 auto;
		padding: 0;
	}

}